Source: pogo
Section: sound
Priority: optional
Maintainer: Jendrik Seipp <jendrikseipp@web.de>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: python (>=2.7), dh-python
Standards-Version: 3.9.6
Homepage: https://github.com/jendrikseipp/pogo
Vcs-Git: git://github.com/jendrikseipp/pogo.git
Vcs-Browser: https://github.com/jendrikseipp/pogo

Package: pogo
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         gir1.2-gdkpixbuf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gstreamer-1.0,
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         gir1.2-pango-1.0,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-pulseaudio,
         python-dbus,
         python-mutagen,
         python-pil
Recommends: gstreamer1.0-plugins-bad,
            gstreamer1.0-plugins-ugly

Description: Pogo is a simple and fast audio player for Linux.
 Its clean interface uses the screen real-estate very efficiently.
 Other features include: Fast search on the harddrive and in the
 playlist, smart album grouping, cover display, desktop notifications
 and the lack of a music library. Pogo is a fork of Decibel Audio
 Player and supports most common audio formats. It is written in Python
 and uses GTK+ and GStreamer.
